.leaderboard {
    max-width: 490px;
    width: 100%;
    border-radius: 12px;
  }
  .leaderboard header {
    --start: 15%;
    height: 130px;
    background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(54, 89, 219, 0.33) 10%, rgba(54, 89, 219, 0.33) 17%), linear-gradient(to right, #5b7cfa, #3659db);
    color: #fff;
    position: relative;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
  }
  .leaderboard header .leaderboard__title {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: calc(var(--start) * .75);
    transform: translateY(-50%);
    text-transform: uppercase;
    margin: 0;
  }
  .leaderboard header .leaderboard__title span {
    display: block;
  }
  .leaderboard header .leaderboard__title--top {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 6.5px;
  }
  .leaderboard header .leaderboard__title--bottom {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 3.55px;
    opacity: 0.65;
    transform: translateY(-2px);
  }
  .leaderboard header .leaderboard__icon {
    fill: #fff;
    opacity: 0.35;
    width: 50px;
    position: absolute;
    top: 50%;
    left: var(--start);
    transform: translate(-50%, -50%);
  }
  .leaderboard__profiles::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
    border-radius: 5px;
}

.leaderboard__profiles::-webkit-scrollbar
{
	width: 6px;
	background-color: transparent;
}

.leaderboard__profiles::-webkit-scrollbar-thumb
{
    background-color: whitesmoke;
    border-radius: 5px;
}
  .leaderboard__profiles {
    border-radius: 0 0 12px 12px;
    padding: 15px 15px 20px;
    display: grid;
    row-gap: 8px;
    max-height: 300px;
    margin-bottom: 31px;
    overflow: auto;
  }
  #long_list{
    max-height: 400px;
  }
  .leaderboard__profile {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 10px 30px 10px 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    cursor: pointer;
    transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
    background-color: #fff;
    position: relative;
  }
  .leaderboard__profile a{
    color: inherit;
  }
  .leaderboard__profile:hover {
    transform: scale(1.05);
    box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
  }
  .leaderboard__profiles .active{
    transform: scale(1.05) !important;
  }
  .leaderboard__profiles .disabled .fa-play{
    opacity: 0.7 !important;
    background: linear-gradient(to right top,#051937,#004d7a,#008793,#00bf72,#a8eb12);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .leaderboard__picture {
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
    height: 60px;
    object-fit: cover;
  }
  .leaderboard__name {
    color: #979cb0;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.64px;
    margin-left: 12px;
  }
  .leaderboard__value {
    font-weight: 700;
    font-size: 34px;
    text-align: right;
    background: linear-gradient(to right top,#051937,#004d7a,#008793,#00bf72,#a8eb12);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  .leaderboard__value > span {
    opacity: 0.8;
    font-weight: 600;
    font-size: 13px;
    margin-left: 3px;
  }
  
  
  .leaderboard {
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.4);
  }
  .list-song-icon{
    color: whitesmoke;
    z-index: inherit;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .song-buttons {
    position: absolute;
    right: 15px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.download_button{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 22px;
}

  .download_button a {
    color: #f86d92;
    background: linear-gradient(to right top,#051937,#004d7a,#008793,#00bf72,#a8eb12);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}