{% load i18n %}
{% load custom_tags %}
<div class="card light-card swiper-slide" style="height: 320px;">
  <a href="https://poem.yatuk.am/hy/{{poem.author.slug}}/{{poem.slug}}-{{poem.id}}">
    <div class="img-avatar" style="background: {{ request.session.theme }};">
        <img loading="lazy" src="https://cms.yatuk.am{{poem.author.middle_optimized.url}}" alt="{{poem.author.name}}"/>
    </div>
    <div class="card-text">
      <div class="portada" 
      style="background-image: url('https://cms.yatuk.am{{poem.game.optimized.url}}'); background-position: {{poem.game.background_position}};"
      >
      </div>
      <div class="title-total">   
        <div class="title">{{poem.genre.name}}</div>
        {% if show_author %}<h6>{{poem.author.name}}</h6>{% endif %}
        <h3>{{poem.name}}</h3>
    <div class="desc">{{poem.content|striptags|truncatechars:150}}</div>
  </div>
   <div class="small-bookmark-icon">
    {% if poem.favorite %}<i class="fa fa-bookmark"></i>{% endif %} 
   </div>
   <div class="small-want-to-read-icon">
    {% if poem.want_to_read %}<i class="fa fa-book"></i>{% endif %} 
   </div>
    </div>
  </a>
  </div>
  