{% load i18n %}
<div class="w-100">
    <div class="search-filter d-flex justify-content-center flex-wrap">
      <div class="search-input yatuk-input">
        <label>{% translate "Search by" %}</label>
      <input id="search" class=" w-100"
        value="{{search}}" name="search"
        hx-get="{% url 'search' %}"
        hx-target="#poem-list"
        hx-swap="innerHTML"
        hx-trigger="keyup delay:1s"
        hx-vals="js:{author: document.getElementById('authors').value}"
        hx-push-url="true"
      >
      </div>

    <div class="yatuk-input">
      <label>{% translate "Authors" %}</label>
      <select name="author" id="authors"
        hx-get="{% url 'search' %}"
        hx-target="#poem-list"
        hx-swap="innerHTML"
        hx-vals="js:{search: document.getElementById('search').value}"
        hx-push-url="true">
        <option value="all" {% if selected_author == 'all' %}selected{% endif %}>{% translate "All" %}</option>
        {% for author in authors %}
          <option value="{{author.slug}}" {% if selected_author == author.slug %}selected{% endif %}>{{author}}</option>
        {% endfor %}
      </select>
    </div>
    </div>
  </div>
<div class="poem-card">
  {% if games %}
{% for game in games %}
<a href="{% url 'game' author=game.author.slug slug=game.slug id=game.id %}" class="photo-card position-relative photo-game-card" 
  style="background-image: url('https://cms.yatuk.am{{game.optimized.url}}'); background-position: {{game.background_position}};">
    <div class="photo-name d-flex">
        <div class="game-author">
            <img  loading="lazy" src="https://cms.yatuk.am{{game.author.image_.url}}" alt="{{author.name}}"/>
        </div>
        <div class="d-flex flex-column text-left p-1 justify-content-end">
            <span>{{game.name}}</span>
            <b>{{game.author.name}}</b>
        </div>
    </div>
</a>  
{% endfor %}
{% else %}
<div class="text-align-center">{% translate "No result found" %}</div>
{% endif %}
  </div>
  {% if games.paginator.count <= games.paginator.per_page %}
  {% else %}
<nav>
    <ul class="pagination pagination-template d-flex justify-content-center mt-5">
        {% if games.has_previous %}
        <li class="page-item"><a class="page-link" href="{% url 'search' %}?page={{games.previous_page_number}}&author={{selected_author}}&search={{search}}"  >
            <i class="fa fa-angle-left"></i></a></li>
            {% if games.number > 3 %}
                    <li class="page-item"><a class="page-link" href="{% url 'search' %}?page=1&author={{selected_author}}&search={{search}}"  >1</a>
                    </li>
                {% if games.number > 4 %} 
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                {% endif %}
            {% endif %}
        {% endif %}
  
        {% for num in games.paginator.page_range %}
            {% if games.number == num %}
                <li class="page-item active"><a class="page-link"  href="{% url 'search' %}?page={{ num }}&author={{selected_author}}&search={{search}}">{{ num }}</a>
                </li>
            {% elif num > games.number|add:'-3' and num < games.number|add:'3' %}
                <li class="page-item"><a  class="page-link"  href="{% url 'search' %}?page={{ num }}&author={{selected_author}}&search={{search}}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}
  
        {% if games.has_next %}
            {% if games.number < games.paginator.num_pages|add:'-3' %}
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <li class="page-item"><a  class="page-link" href="{% url 'search' %}?page={{ games.paginator.num_pages }}&author={{selected_author}}&search={{search}}">{{ games.paginator.num_pages }}</a></li>
            {% elif games.number < games.paginator.num_pages|add:'-2' %}
            <li class="page-item"><a class="page-link" href="{% url 'search' %}?page={{ news.paginator.num_pages }}&author={{selected_author}}&search={{search}}">{{ page_obj.paginator.num_pages }}</a></li>
            {% endif %} 
            <li class="page-item"><a  class="page-link" href="{% url 'search' %}?page={{ games.next_page_number }}&author={{selected_author}}&search={{search}}"><i class="fa fa-angle-right"></i></a></li>
        {% endif %}
    </ul>
  </nav> 
  {% endif %}