{% load static %}

<div class="card-main">
  <div class="card-section is-active">
    <main class="leaderboard__profiles" id="long_list">
        {% for author in authors %}
            <article class="leaderboard__profile">
                <img src="https://cms.yatuk.am{{author.thumbnail.url}}" alt="{{author.name}}" class="leaderboard__picture">
                <div class="leaderboard__name">
                  <div>{{author.name}}</div>
                  <div><i class="fa fa-music"></i>{{author.musics_count}}</div>
                </div>
                <div class="song-buttons">
                <span class="leaderboard__value" 
                  hx-get="{% url 'get_author_songs' author.id %}"
                  hx-swap="innerHTML"
                  hx-trigger="click"
                  hx-target="#author_part"
                  hx-vals="js:{current_song: document.getElementById('bg-artwork').getAttribute('data-id')}"
                ><i class="fa fa-bars"></i></span>
                <div>
            </article>
        {% endfor %}
    </main>
  </div>
</div>
<script>
  $( "#menu-open" ).trigger( "click" );
</script>