{% load i18n %}

  <div class="poem-card">
{% for poem in poems %}
  {% include 'core/partials/poem-card.html' %}
{% endfor %}
  </div>
  {% if poems.paginator.count <= poems.paginator.per_page %}
  {% else %}
<nav>
    <ul class="pagination pagination-template d-flex justify-content-center mt-5">
        {% if poems.has_previous %}
        <li class="page-item"><a class="page-link" href="{% url 'want_read' %}?page={{poems.previous_page_number}}"  >
            <i class="fa fa-angle-left"></i></a></li>
            {% if poems.number > 3 %}
                    <li class="page-item"><a class="page-link" href="{% url 'want_read' %}?page=1"  >1</a>
                    </li>
                {% if poems.number > 4 %} 
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                {% endif %}
            {% endif %}
        {% endif %}
  
        {% for num in poems.paginator.page_range %}
            {% if poems.number == num %}
                <li class="page-item active"><a class="page-link"  href="{% url 'want_read' %}?page={{ num }}">{{ num }}</a>
                </li>
            {% elif num > poems.number|add:'-3' and num < poems.number|add:'3' %}
                <li class="page-item"><a  class="page-link"  href="{% url 'want_read' %}?page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}
  
        {% if poems.has_next %}
            {% if poems.number < poems.paginator.num_pages|add:'-3' %}
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <li class="page-item"><a  class="page-link" href="{% url 'want_read'  %}?page={{ poems.paginator.num_pages }}">{{ poems.paginator.num_pages }}</a></li>
            {% elif poems.number < poems.paginator.num_pages|add:'-2' %}
            <li class="page-item"><a class="page-link" href="{% url 'want_read' %}?page={{ news.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
            {% endif %} 
            <li class="page-item"><a  class="page-link" href="{% url 'want_read' %}?page={{ poems.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
        {% endif %}
    </ul>
  </nav> 
  {% endif %}