<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel-2/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel-2/owl.theme.default.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" />
    <title>{% block title %}{% endblock %} - {% translate "Yatuk" %}</title>
  </head>

<body>
  <div class="container-scroller">
  {% include "elements/header.html" %}
    <div class="main-panel">
      <div class="content-wrapper">
        {% block content %}{% endblock %}
      </div>
</div>
<div id="spinner" class="htmx-indicator">
  <img src="{% static 'images/loading.gif' %}" />
</div>
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendors/progressbar.js/progressbar.min.js' %}"></script>
  <script src="{% static 'vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
  <script src="{% static 'vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
  <script src="{% static 'vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.j' %}s"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="https://unpkg.com/htmx.org@1.8.0"></script>

  <!-- End custom js for this page -->
</body>
{% block additional_scripts %} {% endblock %}
</html>

