{% load i18n %}
<div class="firstinfo">
  <div class="img-content">
    {% include 'users/partials/profile-image.html' %}
  </div>
</div>
<div class='yatuk-form product-card'>
  <form id="user-edit-form" class="yatuk-form d-flex flex-wrap" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group col-lg-6 col-sm-12">
      {{ field.label_tag }}
      {{ field }}
      {% if field.errors %}
        <div class="error-message">{{ field.errors }}</div>
      {% endif %}
    </div>
  {% endfor %}
  <div class="col-12 f-flex">
      <button type="submit" class="col-6"
        hx-post="{% url 'user_edit' %}"
        hx-swap="innerHTML"
        hx-target=".user-profile"
        hx-trigger="click"
      >{% translate "Save" %}</button>
      <button class="col-5 cancel-button"
        hx-post="{% url 'profile' %}"
        hx-swap="innerHTML"
        hx-target=".user-profile"
        hx-trigger="click"
      >{% translate "Cancel" %}</button>
  </div>
  </form>
</div>
