{% extends "base/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% translate "Main" %}{% endblock %}

{% block additional_metas %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl-3 col-sm-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div class="d-flex align-items-center align-self-start">
              <h3 class="mb-0">{{ total_sell }}֏</h3>
              <p class="text-success ml-2 mb-0 font-weight-medium">{{sell_percent}}%</p>
            </div>
          </div>
          <div class="col-3">
            <div class="icon icon-box-success ">
              <span class="mdi mdi-arrow-top-right icon-item"></span>
            </div>
          </div>
        </div>
        <h6 class="text-muted font-weight-normal">{% translate "Total Sales" %}</h6>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div class="d-flex align-items-center align-self-start">
              <h3 class="mb-0">{{ lm_total_sell }}֏</h3>
              <p class="{% if sell_prepercent > 0 %}text-success{%else %}text-danger{% endif %} 
                     ml-2 mb-0 font-weight-medium">{{sell_prepercent}}%</p>
            </div>
          </div>
          <div class="col-3">
            {% if sell_prepercent > 0 %}
            <div class="icon icon-box-success">
              <span class="mdi mdi-arrow-top-right icon-item"></span>
            </div>
            {%else %}
            <div class="icon icon-box-danger  ">
              <span class="mdi mdi-arrow-bottom-right icon-item"></span>
            </div>
            {% endif %}
          </div>
        </div>
        <h6 class="text-muted font-weight-normal">{% translate "Last 30 day's Sales" %}</h6>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div class="d-flex align-items-center align-self-start">
              <h3 class="mb-0">{{total_costs}}֏</h3>
              <p class="text-danger ml-2 mb-0 font-weight-medium">{{cost_percent}}%</p>
            </div>
          </div>
          <div class="col-3">
            <div class="icon icon-box-danger">
              <span class="mdi mdi-arrow-top-right icon-item"></span>
            </div>
          </div>
        </div>
        <h6 class="text-muted font-weight-normal">{% translate "Total Costs" %}</h6>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div class="d-flex align-items-center align-self-start">
              <h3 class="mb-0">{{lm_total_costs}}֏</h3>
              <p class="{% if cost_prepercent > 0%}text-danger{% else %}text-success{%endif %} 
                      ml-2 mb-0 font-weight-medium">{{cost_prepercent}}%</p>
            </div>
          </div>
          <div class="col-3">
            {% if cost_prepercent > 0%}
            <div class="icon icon-box-danger">
              <span class="mdi mdi-arrow-top-right icon-item"></span>
            </div>
            {% else %}
            <div class="icon icon-box-success">
              <span class="mdi mdi-arrow-bottom-right icon-item"></span>
            </div>
            {%endif%}
          </div>
        </div>
        <h6 class="text-muted font-weight-normal">{% translate "Last 30 day's costs" %}</h6>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="chartjs-size-monitor">
          <div class="chartjs-size-monitor-expand">
            <div class=""></div>
          </div>
          <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
          </div>
        </div>
        <h4 class="card-title">{% translate "Sales by routes" %}</h4>
        <canvas id="sellChart" style="height: 369px; display: block; width: 738px;" width="738" height="369"
          class="chartjs-render-monitor"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="chartjs-size-monitor">
          <div class="chartjs-size-monitor-expand">
            <div class=""></div>
          </div>
          <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
          </div>
        </div>
        <h4 class="card-title">{% translate "Costs by Types" %}</h4>
        <canvas id="costChart" style="height: 369px; display: block; width: 738px;" width="738" height="369"
          class="chartjs-render-monitor"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="chartjs-size-monitor">
          <div class="chartjs-size-monitor-expand">
            <div class=""></div>
          </div>
          <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
          </div>
        </div>
        <h4 class="card-title">{% translate "Last 1 year's Sales" %}</h4>
        <canvas id="SellLineChart" style="height: 237px; display: block; width: 474px;" width="474" height="237"
          class="chartjs-render-monitor"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="chartjs-size-monitor">
          <div class="chartjs-size-monitor-expand">
            <div class=""></div>
          </div>
          <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
          </div>
        </div>
        <h4 class="card-title">{% translate "Last 1 year's costs" %}</h4>
        <canvas id="CostLineChart" style="height: 237px; display: block; width: 474px;" width="474" height="237"
          class="chartjs-render-monitor"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xl-4 grid-margin stretch-card">
    {% include 'core/partials/todo-small.html' %}
  </div>


</div>

{% endblock %}

{% block additional_scripts %}
<script src="{% static 'js/chart.js' %}"></script>
<script>
  var options = {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        },
        gridLines: {
          color: "rgba(204, 204, 204,0.1)"
        }
      }],
      xAxes: [{
        gridLines: {
          color: "rgba(204, 204, 204,0.1)"
        }
      }]
    },
    legend: {
      display: false
    },
    elements: {
      point: {
        radius: 0
      }
    }
  };

  if ($("#CostLineChart").length) {
    var CostLineChartCanvas = $("#CostLineChart").get(0).getContext("2d");
    var CostLineChart = new Chart(CostLineChartCanvas, {
      type: 'line',
      data: {{CostLineData|safe}},
      options: options
    });
  }
  if ($("#SellLineChart").length) {
    var SellLineChartCanvas = $("#SellLineChart").get(0).getContext("2d");
    var SellLineChart = new Chart(SellLineChartCanvas, {
      type: 'line',
      data: {{SellLineData|safe}},
      options: options
    });
  }
  $.fn.andSelf = function () {
    return this.addBack.apply(this, arguments);
  }

  var doughnutPieOptions = {
    responsive: true,
    animation: {
      animateScale: true,
      animateRotate: true
    }
  };

  if ($("#sellChart").length) {
    var sellChartCanvas = $("#sellChart").get(0).getContext("2d");
    var sellChart = new Chart(sellChartCanvas, {
      type: 'pie',
      data: {{sell_chart|safe}},
      options: doughnutPieOptions
    });
  }
  if ($("#costChart").length) {
    var costChartCanvas = $("#costChart").get(0).getContext("2d");
    var costChart = new Chart(costChartCanvas, {
      type: 'pie',
      data: {{cost_chart|safe}},
      options: doughnutPieOptions
    });
  }
</script>
{% endblock %}