{% load i18n %}
<div>
    <div class="cart-items cart-items-big yatuk-form product-card checkout-form">
        {% for cart_item in request.user.cart_items %}
            <div class="cart-item-big">
                <span class="cart-image-big">
                    <img  loading="lazy" src="https://cms.yatuk.am/{{cart_item.product.main_image.thumbnail.url}}"
                    alt="{{cart_item.product.title}}"></span>
                <div class="d-flex flex-column w-100 p-2 position-relative">
                    <div class="itemtitle-big">{{cart_item.count}} x {{cart_item.product.title}}</div>
                    <div class="d-flex align-center justify-content-between align-items-center">
                        <span>{% widthratio cart_item.product.price 1 cart_item.count %}֏</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
