{% load customtags %}
{% load i18n %}
{% if transfers %}
<table class="table table-striped">
  <thead>
    <tr>
      <th> </th>
      <th>{% translate "Product" %}</th>
      <th>{% translate "Count" %}</th>
      <th>{% translate "Price" %}</th>
      <th>{% translate "Collaborator" %}</th>
      <th>{% translate "Note" %}</th>
      <th>{% translate "Date" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for transfer in transfers %}
    <tr>
      <td class="py-1">
        {{ transfer.product.image_tag}}
      </td>
      <td class="py-1">
        {{ transfer.product.title}}
      </td>
      <td>{{ transfer.count}}</td>
      <td>{{ transfer.amount}}</td>
      <td>{{ transfer.collaborator.title }}</td>
      <td>{{ transfer.note}}</td>
      <td>{{ transfer.date|beauty_date}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="text-center m-4">
  <div class="btn-group" role="group" aria-label="Basic example">
    {% if transfers.has_previous %}
    <a type="button" class="btn btn-outline-info"
      hx-get="{% url "transfers" %}?page={{ transfers.previous_page_number }}&coll={{coll}}&prod={{prod}}"
      hx-trigger="click" hx-indicator="#spinner" hx-target="#transfer-table" hx-swap="innerHTML show:.nav-pills:top"
      hx-push-url="true">
      < </a> {% endif %} {% for num in transfers.paginator.page_range %} <a type="button"
        class="btn  {% if page == num %} btn-info active {% else %}btn-outline-info{% endif %}"
        hx-get="{% url "transfers" %}?page={{ num }}&coll={{coll}}&prod={{prod}}" hx-trigger="click"
        hx-indicator="#spinner" hx-target="#transfer-table" hx-swap="innerHTML show:.nav-pills:top" hx-push-url="true">
        {{ num }}
    </a>
    {% endfor %}

    {% if transfers.has_next %}
    <a type="button" class="btn btn-outline-info"
      hx-get="{% url "transfers" %}?page={{ transfers.next_page_number }}&coll={{coll}}&prod={{prod}}"
      hx-trigger="click" hx-indicator="#spinner" hx-target="#transfer-table" hx-swap="innerHTML show:.nav-pills:top"
      hx-push-url="true">></a>
    {% endif %}

  </div>
</div>
{% else %}
{% translate "No ransfers yet" %}
{% endif %}