{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block og_properties %}
    <meta name="description" content="Հեղինակներ, որոնց նկարներով մենք ունենք առնվազն մեկ ապրանքատեսակ">
    <title>{% translate "Yatuk" %} - {% translate "Authors" %}</title>
    <meta property="og:title" content="Յատուկ | Հեղինակներ" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Հեղինակներ, որոնց նկարներով մենք ունենք առնվազն մեկ ապրանքատեսակ" />
    <meta property="og:image" content="https://cms.yatuk.am{{author.middle_optimized.url}}" />
{% endblock %}
{% block content %}
<div>
    <nav>
        <ol class="breadcrumb breadcrumb-yatuk light-card">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">{% translate "Home" %}</a></li>
          <li class="breadcrumb-item active">{% translate "Authors" %}</li>
        </ol>
      </nav>
  <div class="main-text text-center  mt-3">
    <h3>{% translate "Great Authors" %}</h3>
    <h5>{% translate "We have products based on this great authors artworks." %}</h5>
</div>
<div class="authors-slider">
	<div class="author-page-cards">
            {% for author in authors %}
                {% include 'core/partials/author-card.html' %}
            {% endfor %}
	</div>

</div>
</div>
{% endblock content %}